.hero-section {
  padding: 1rem;
  display: flex;
   justify-content: center;
  align-items: center;
}

.hero-backdrop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-with-image {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section-img {
    width: 20rem;
    object-fit: cover;
}
